.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100vh;
    padding: 30px;
    border-radius: 5px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    width: 50%;
  }
  
  .logo-content {
    text-align: center;
  }
  
  .logo-img {
    width: 200px;
  }
  
  .logo-text {
    color: black;
  }
  
  .form-container {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: center;
  }
  
  .form-content {
    background-color: rgb(116, 149, 166);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
  }
  
  .form-heading {
    text-align: left;
    color: #ffffff;
  }
  
  .form-control {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .forgot-password {
    color: blue;
  }
  
  .login-button {
    color: black;
    width: 100px;
    background-color: #ccc;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .footer-text {
    color: #ffffff;
  }
  .logout-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
  }